*{
    padding: 0;
    margin: 0;
}

.container{
    width: 50%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar{
    width: 500px;
    background-color: gainsboro;
    padding: 10px 10px;
    height: 40px;

}

.search-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-items input{
    width: 80%;
    padding: 12px;
    flex: 1;
    border-style: none;

}

.search-icon{
    padding: 10px;
    border-style: none;
    background-color: rgb(173, 171, 171);
    display: flex;
    align-items: center;
}